body,
html {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    transition: all 200ms;
}

.navbar {
    overflow: hidden;
    background: white;
    display: flex;
    float: left;
    grid-column-gap: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropbtn {
    margin-left: 20px;
    opacity: 1;
    transition: 200ms all;
}

.dropbtn_invisible {
    opacity: 0;
}

.dropdown-content {
    opacity: 0;
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 500ms all;
    right: -200px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-visible {
    opacity: 1;
    right: 400px;
}

.nav-card {
    padding: 20px;
    width: 500px;
}

.top_header {
    background: #6200ee;
    color: white;
}

.center {
    display: grid;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centercard {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.171);
    padding: 3%;
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 5%;
    margin-top: 100px;
    height: 100px;
    border-radius: 5px;
}

.centercard2 {
    padding: 7%;
    margin-top: 115px;
    padding-top: 40px;
    padding-bottom: 70px;
}

.searchbtn {
    margin-top: 20px;
}

.heading-text {
    font-family: cursive;
    margin-top: 6px;
    margin-bottom: 0;
    margin: auto;
    font-size: 110%;
    color: #6300ee;
}

.heading {
    display: grid;
    grid-template-columns: 3fr 5fr;
    box-shadow: 0 0 4px 1px #6300ee79;
}

.search-dropdown {
    background-color: white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.171);
    margin-top: -50px;
    transition: 200ms all;
    opacity: 0;
}

.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .heading-text {
    color: white;
}

.dark-mode .mdc-card {
    background-color: #1F1A24;
    color: white;
}

.dark-mode .centercard {
    background-color: #1F1A24;
    color: white;
}

.dark-mode .search-dropdown {
    background-color: #1F1A24;
    color: white;
}

.dark-mode .mdc-list-item__primary-text {
    color: white;
}

.dark-mode .mdc-list-item__secondary-text {
    color: white;
}

.dark-mode .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: white;
}

.dark-mode .mdc-text-field--fullwidth:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: white;
}

.dark-mode ::placeholder {
    color: white !important;
}

.mode {
    align-content: space-around;
}

.modebtn {
    margin-top: 15px;
    margin-bottom: 20px;
    float: right;
    margin-right: 34%;
}

@media (max-width: 1300px) {
    .dropdown-visible {
        right: 200px;
    }
}

@media (max-width: 1000px) {
    .dropdown-visible {
        right: 100px;
    }
}

@media (max-width: 800px) {
    .dropbtn {
        margin: 20px;
    }
    .center {
        width: 100%;
    }
    .heading {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .heading-text {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .navbar {
        margin: auto;
        float: none;
        margin-bottom: 0px;
    }
    .dropdown-visible {
        right: 100px;
    }
    .dropbtn {
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .mode {
        margin: auto;
    }
    .modebtn {
        margin-right: 0;
        margin: 0;
    }
}

@media (max-width: 600px) {
    .heading {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .dropbtn {
        margin: 10px;
    }
    .dropdown-visible {
        right: 0px;
    }
    .centercard {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 400px) {
    .dropdown-visible {
        right: 0px;
    }
    .dropbtn {
        margin: 1px;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 4px 1px #6300ee79;
}

.list_visible {
    opacity: 1;
}